<template>
  <div class="review">
    <img
      class="review__img"
      :alt="linkTo"
      :src="require(`../../assets/images/${imgUrl}`)"
    />
    <Button :external-link="true" :link-to="linkTo" :text="text" />
  </div>
</template>

<script>
import Button from "../Button";
export default {
  name: "Review",
  components: {
    Button
  },
  props: {
    imgUrl: {
      type: String,
      required: true
    },
    linkTo: {
      type: String,
      required: true
    },
    text: {
      type: String,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./Review.scss";
</style>
