<template>
  <div class="item">
    <span>
      <h2>{{ item.name }} ({{ item.price }})</h2>
      <Button variant="dark" text="add to order" :on-click="onClick" />
      <!-- <button @click="onClick">Add</button> -->
    </span>

    <p>{{ item.description }}</p>
  </div>
</template>

<script>
import { mapActions } from "vuex";
import Button from "../../Button";

// console.log(this.props.item);

export default {
  name: "MenuItem",
  components: {
    Button
  },
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      itemToAdd: {
        id: this.item.id,
        name: this.item.name,
        price: this.item.price,
        quantity: 1
      }
    };
  },
  methods: {
    ...mapActions(["addItem"]),
    onClick() {
      this.addItem(this.itemToAdd);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./MenuItem.scss";
</style>
