.item {
  padding: $spacing-01 0;
  & > span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: $spacing-02 0;

    // @include for-mobile {
    //   display: block;
    // }
    & > h2 {
      @include font-size-l;
      line-height: 1.5;
      font-weight: 700;
      text-transform: uppercase;
    }

    & > button {
      height: auto;

      @include for-mobile {
        width: 50%;
      }
    }
  }
}
