@mixin bgEffect($color) {
  &:hover,
  &:focus {
    background: darken($color, 8%);
  }

  &:active {
    background: darken($color, 15%);
  }
}

@mixin link-hover($text-color) {
  & > a {
    text-decoration: none;
    color: $text-color;

    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }
}

.btn {
  cursor: pointer;
  min-width: 130px;
  min-height: 40px;
  padding-right: $spacing-01;
  padding-left: $spacing-01;
  border-radius: 4px;
  outline: none;
  border: none;
  text-transform: uppercase;
  @include font-size-m;
  transition: background 0.3s ease;
  background-color: $primary;
  color: $text;
  font-weight: 700;
  @include bgEffect($primary);
  @include link-hover($text);

  & > * {
    text-transform: uppercase;
    line-height: 40px;
  }

  & > a {
    text-decoration: none;
    color: $text;
  }

  &--dark {
    background-color: $dark;
    color: $white;
    @include bgEffect($dark);
    @include link-hover($white);
  }
}

@include for-mobile {
  .btn {
    width: 100%;
    height: 50px;
  }
}
