<template>
  <button
    :type="type"
    class="btn"
    :class="[variant ? `btn--${variant}` : '']"
    @click="onClick"
  >
    <router-link v-if="internalLink" :to="linkTo">{{ text }}</router-link>
    <a v-else-if="externalLink" :href="linkTo" target="_blank">{{ text }}</a>
    <p v-else>{{ text }}</p>
  </button>
</template>

<script>
export default {
  name: "Button",
  props: {
    variant: {
      default: undefined,
      type: String
    },
    internalLink: {
      default: false,
      type: Boolean
    },
    externalLink: {
      default: false,
      type: Boolean
    },
    linkTo: {
      default: undefined,
      type: String
    },
    text: {
      type: String,
      required: true
    },
    type: {
      default: "button",
      type: String,
      validator: function(value) {
        return ["button", "submit"].indexOf(value) !== -1;
      }
    },
    onClick: {
      default: () => {},
      type: Function
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./Button.scss";
</style>
