<template>
  <div class="menu">
    <h1 class="menu__type" :class="[theme ? `menu__type--${theme}` : '']">
      {{ type }}
    </h1>
    <MenuItem v-for="item in menu" :key="item.id" :item="item" :theme="theme" />
  </div>
</template>

<script>
import MenuItem from "./MenuItem";
export default {
  name: "Menu",
  components: {
    MenuItem
  },
  props: {
    type: {
      type: String,
      required: true
    },
    theme: {
      default: "primary",
      type: String
    },
    menu: {
      type: Array,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./Menu.scss";
</style>
