.menu {
  @include center(720px);

  &__type {
    @include font-size-l-xx;
    font-weight: 700;
    line-height: 2;
    text-transform: capitalize;
    text-align: center;
    background-color: $primary;

    &--dark {
      background-color: $primary-dark;
      color: $white;
    }

    @include for-mobile {
      line-height: 1.7;
    }
  }
}
