<template>
  <div class="grid" :class="`grid--${colNum}`">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Grid",
  props: {
    colNum: {
      type: Number,
      required: true
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./Grid.scss";
</style>
