<template>
  <div class="order-item">
    <p class="order-item__name">{{ item.quantity }} x {{ item.name }}</p>
    <p class="order-item__remove" @click="onClick">x</p>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "OrderItem",
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      id: this.item.id
    };
  },
  methods: {
    ...mapActions(["removeItem"]),
    onClick() {
      this.removeItem(this.id);
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./OrderItem.scss";
</style>
