.order-item {
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: $spacing-01 0;

  &__name {
    flex: 2;
    padding: 0 $spacing-02 0 0;
    line-height: 1.5;
  }

  &__remove {
    text-align: right;
    cursor: pointer;
  }
}
