<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>restaurant-app</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but restaurant-app doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app">
      <!-- for pre-render Netlify form -->
      <form name="reservation" netlify netlify-honeypot="bot-field" hidden>
        <input name="email" type="email" />
        <input name="date" type="date" />
        <input name="time" type="time" />
        <input name="guestnumber" type="number" />
        <textarea name="comment"></textarea>
      </form>
    </div>
    <!-- built files will be auto injected -->
  </body>
</html>
