.content {
  @include center(720px);

  & > h1 {
    @include font-size-l-xx;
    font-weight: 700;
    line-height: 3;
    text-align: center;

    @include for-tablet {
      line-height: 2;
    }
    @include for-mobile {
      line-height: 1.7;
    }
  }

  & > p {
    @include font-size-l;
    font-weight: 400;
    line-height: 2;
    text-align: left;
    letter-spacing: 0.05cm;
    padding: $spacing-02 0;

    @include for-mobile {
      padding: $spacing-01 0;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    padding: $spacing-02 0;

    & > * {
      margin-right: $spacing-02;

      @include for-mobile {
        margin-bottom: $spacing-01;
      }
    }

    @include for-mobile {
      display: block;
      padding: $spacing-01 0;
    }
  }

  &__open {
    @include center(720px);
    padding: $spacing-02 0;
    & > * {
      display: flex;
      justify-content: space-between;
      line-height: 2;

      @include for-tablet-small {
        display: block;
      }

      & > h1 {
        @include font-size-l;
        font-weight: 700;
        text-transform: uppercase;
      }
      & > p {
        @include font-size-l;
      }
    }
  }
}
