<template>
  <div class="content">
    <h1>{{ heading }}</h1>
    <p v-if="paragraph">{{ paragraph }}</p>
    <div v-if="isButton" class="content__buttons">
      <slot></slot>
    </div>
    <div v-else-if="isOpenContent" class="content__open">
      <slot></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "Content",
  props: {
    heading: {
      type: String,
      required: true
    },
    paragraph: {
      default: undefined,
      type: String
    },
    isButton: {
      default: false,
      type: Boolean
    },
    isOpenContent: {
      default: false,
      type: Boolean
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./Content.scss";
</style>
