<template>
  <div class="home">
    <h1 class="home__header">Welcome to Restaurant!</h1>
    <Section bg-color="dark">
      <Content heading="Top Rated Reviews" />
      <Grid col-num="3">
        <Review
          img-url="tripadvise-review.png"
          link-to="https://www.tripadvisor.com/"
          text="89+ reviews in Tripadvisor"
        />
        <Review
          img-url="google-review.png"
          link-to="https://www.google.com/"
          text="180+ reviews in Google Map"
        />
        <Review
          img-url="faceboko-review-1.png"
          link-to="https://www.facebook.com/"
          text="114+ reviews in Facebook"
        />
      </Grid>
    </Section>
    <Section>
      <Content
        heading="Restaurant Helsinki"
        paragraph="Restaurant is one of the leading Vietnamese restaurant brands in Helsinki that serve iconic Vietnamese street cuisines. Our menu is inspired by the vibe of Saigon, with a modern twist for Finnish locals. With fresh ingredients, authentic seasoning and a helpful attitude, we aim to bring you the most delightful food enjoyment."
      />
    </Section>
    <Section bg-color="transparent">
      <Content
        heading="MENU"
        paragraph="Our menu is designed to suit busy lunch time, cozy dinner occasions or snacking on the go. From now on our customers can enjoy dinner-exclusive dishes after 5pm everyday or weekend. There are also a variety of vegetarian and vegan options. If you are allergic to any ingredients, please consult from our receptionist for suitable recommendations. Go ahead and enjoy your meal."
        is-button
      >
        <Button internal-link="true" link-to="/menu-and-order" text="See our menu" />
      </Content>
    </Section>
    <Section bg-color="dark">
      <Content
        heading="Order Online and Reservation"
        paragraph="To make our foods more accessible to all customers in Helsinki, Vibami coordinates with two reliable delivery service companies in Helsinki, including Wolt and Foodora. If you are interested in delivery service, please check our restaurant's menu and make an order from there"
        is-button
      >
        <Button variant="dark" internal-link="true" link-to="/menu-and-order" text="Make an order" />
        <Button variant="dark" internal-link="true" link-to="/reservation" text="Reserve a table" />
      </Content>
    </Section>
    <Section>
      <Content is-open-content="true" heading="Restaurant Information">
        <div>
          <h1>address:</h1>
          <p>Eerikinkatu 14 , 2nd Floor, 00100 near Kamppi</p>
        </div>
        <div>
          <h1>tel:</h1>
          <p>+358 45 7875 7880</p>
        </div>
        <br />
        <br />
        <div>
          <h1>mon-thu:</h1>
          <p>11:00 am to 9:00 pm</p>
        </div>
        <div>
          <h1>fri:</h1>
          <p>11:00 am to 10:00 pm</p>
        </div>
        <div>
          <h1>sat:</h1>
          <p>12:00 am to 10:00 pm</p>
        </div>
        <div>
          <h1>sun:</h1>
          <p>2:00 am to 8:30 pm</p>
        </div>
      </Content>
    </Section>
  </div>
</template>

<script>
import Section from "../components/Section";
import Grid from "../components/Grid";
import Review from "../components/Review";
import Button from "../components/Button";
import Content from "../components/Content";

export default {
  name: "Home",
  components: {
    Section,
    Grid,
    Review,
    Button,
    Content
  }
};
</script>

<style lang="scss">
.home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("~@/assets/images/hero.jpeg");
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  flex: 1 !important;
  padding-top: 100vh;

  &__header {
    @include font-size-l-xxxx;
    color: $white;
    font-weight: 700;
    width: 100%;

    text-align: center;
    position: absolute;
    top: 50vh;
    padding: 0 $spacing-01;
    box-sizing: border-box;
  }
}
</style>
