<template>
  <div class="main">
    <p class="main__intro">
      We are more than happy to serve you. <br />
      Take your time to explore our menu and place an order as you wish!
    </p>
    <Section bg-color="dark">
      <Menu :menu="allAppertizers" type="Appertize"></Menu>
    </Section>
    <Section>
      <Menu :menu="allMains" type="Mains" theme="dark"></Menu>
    </Section>
    <Section bg-color="dark">
      <Menu :menu="allDesserts" type="Dessert"></Menu>
    </Section>
    <!-- <p v-for="item in allAppertizers" :key="item.id">{{ item }}</p> -->
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import Section from "../components/Section";
import Menu from "../components/Menu";
export default {
  name: "MenuOrder",
  components: {
    Section,
    Menu
  },
  computed: {
    ...mapGetters(["allAppertizers", "allMains", "allDesserts"])
  }
};
</script>

<style lang="scss" scoped>
.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("~@/assets/images/bgImage3.jpeg");
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  flex: 1 !important;
  padding-top: 30vh;
  &__intro {
    @include font-size-l-x;
    @include center(720px);
    font-weight: 700;
    color: $white;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 100px;
  }
}
</style>
