<template>
  <div class="main">
    <Grid col-num="2">
      <div class="main__order-overall">
        <h1>Your order</h1>
        <p v-if="!ordersLength">You haven't ordered anything.</p>
        <OrderItem
          v-for="item in allOrders"
          :key="item.id"
          :item="item"
        ></OrderItem>
      </div>
      <div class="main__order-summary">
        <div class="main__order-summary__total">
          <h1>Total</h1>
          <h2>€{{ totalPrice }}</h2>
        </div>
        <div class="main__order-summary__button">
          <Button text="place an order"></Button>
          <Button
            internal-link="true"
            link-to="/menu-and-order"
            variant="dark"
            text="continue ordering"
          ></Button>
        </div>
      </div>
    </Grid>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Grid from "../components/Grid";
import OrderItem from "../components/OrderItem";
import Button from "../components/Button";
export default {
  name: "Order",
  components: {
    Grid,
    OrderItem,
    Button
  },
  computed: {
    ...mapGetters(["allOrders", "totalPrice"]),
    ...mapActions(["countTotal"]),
    ordersLength() {
      return this.allOrders.length;
    }
  },

  created() {
    this.countTotal;
  },
  beforeUpdate() {
    this.countTotal;
  }
};
</script>

<style lang="scss" scoped>
.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("~@/assets/images/bgImage4.jpeg");
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  flex: 1 !important;

  box-sizing: border-box;
  padding: $spacing-09-50 $spacing-16;

  @include for-small-screen {
    padding: $spacing-09-50 $spacing-07-50;
  }

  @include for-tablet {
    padding: $spacing-07-50 $spacing-04;
  }

  @include for-tablet-small {
    padding: $spacing-07-50 $spacing-02;
  }

  @include for-mobile {
    padding: $spacing-07-50 $spacing-01;
  }

  &__order-overall {
    color: $white;
    max-width: 100%;
    width: 400px;

    & > h1 {
      @include font-size-l-xx;
      font-weight: 700;
      line-height: 3;
      text-align: center;

      @include for-tablet {
        line-height: 2;
      }
      @include for-mobile {
        line-height: 1.7;
      }
    }

    & > p {
      color: white;
      @include font-size-l;
      line-height: 3;
    }
  }

  &__order-summary {
    color: $white;
    max-width: 100%;
    width: 400px;

    &__total {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0 $spacing-01 0;

      & > * {
        @include font-size-l-xx;
        font-weight: 700;
        line-height: 3;

        @include for-tablet {
          line-height: 2;
        }
        @include for-mobile {
          line-height: 1.7;
        }
      }
    }

    &__button {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @include for-tablet {
        display: block;
      }

      & > button {
        @include for-tablet {
          width: 100%;
          margin: 0 0 $spacing-01 0;
        }
      }
    }
  }
}
</style>
