<template>
  <div class="main">
    <p class="main__intro">
      We are more than happy to serve you. <br />
      Please fill in the form to reserve a table and we will see you soon in our
      restaurant!
    </p>
    <Section bg-color="dark">
      <h1 class="main__form-name">table reservation form</h1>
      <ReservationForm />
    </Section>
  </div>
</template>

<script>
import Section from "../components/Section";
import ReservationForm from "../components/ReservationForm";

export default {
  name: "Reservation",
  components: {
    Section,
    ReservationForm
  }
};
</script>

<style lang="scss" scoped>
.main {
  // margin: 70px 0 0 0; //margin top = nav bar height

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("~@/assets/images/bgImage5.jpeg");
  width: 100%;
  min-height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;

  flex: 1 !important;
  padding-top: 30vh;

  &__intro {
    @include font-size-l-x;
    @include center(720px);
    font-weight: 700;
    color: $white;
    line-height: 1.5;
    text-align: center;
    padding-bottom: 100px;
  }

  &__form-name {
    @include center(720px);
    @include font-size-l-xx;
    font-weight: 700;
    line-height: 2;
    text-transform: capitalize;
    text-align: center;
    background-color: $primary;
    color: $dark;
  }
}
</style>
