<template>
  <div class="nav">
    <div class="nav__main">
      <router-link to="/">
        <img class="nav__main__logo" src="../../assets/images/logo-2.png" />
      </router-link>

      <ul class="nav__main__list">
        <li class="nav__main__list__item">
          <router-link to="/">Home</router-link>
        </li>
        <li class="nav__main__list__item">
          <router-link to="/menu-and-order">Menu</router-link>
        </li>
        <li class="nav__main__list__item">
          <router-link to="/reservation">Table reservation</router-link>
        </li>
        <li class="nav__main__list__item">
          <router-link to="/your-order"
            >Your order ({{ orderLength }})</router-link
          >
        </li>
      </ul>

      <menu-icon
        v-if="!isBurgerOpen"
        class="nav__main__mobile-button"
        @click="openMenu"
      />
      <close-icon v-else class="nav__main__mobile-button" @click="closeMenu" />
    </div>

    <div
      class="nav__mobile-menu"
      :class="[
        isBurgerOpen ? 'nav__mobile-menu--open' : 'nav__mobile-menu--close'
      ]"
    >
      <router-link to="/" class="nav__mobile-menu__item">Home</router-link>
      <router-link to="/menu-and-order" class="nav__mobile-menu__item"
        >Menu</router-link
      >
      <router-link to="/reservation" class="nav__mobile-menu__item"
        >Table reservation</router-link
      >
      <router-link to="/your-order" class="nav__mobile-menu__item"
        >Your order ({{ orderLength }})</router-link
      >
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
import MenuIcon from "vue-material-design-icons/Menu.vue";
import CloseIcon from "vue-material-design-icons/Close.vue";
export default {
  name: "NavBar",
  components: {
    MenuIcon,
    CloseIcon
  },
  props: {
    isBurgerOpen: {
      required: true,
      type: Boolean
    },
    openMenu: {
      type: Function,
      required: true
    },
    closeMenu: {
      type: Function,
      required: true
    }
  },
  computed: {
    ...mapGetters(["allOrders"]),
    orderLength() {
      const eachItemQuantity =
        this.allOrders.length !== 0
          ? this.allOrders.map(el => {
              return el.quantity;
            })
          : [];

      const orderLength = eachItemQuantity.reduce((a, b) => a + b, 0);

      return orderLength;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./NavBar.scss";
</style>
