.nav {
  background-color: $primary;
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 10;

  &__main {
    @include content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__logo {
      width: 100px;
      height: auto;
    }

    &__list {
      display: inline-flex;
      line-height: 70px;
      @include font-size-l;

      font-weight: 700;
      text-transform: uppercase;

      &__item {
        padding-left: $spacing-02;
        cursor: pointer;
        & > a {
          text-decoration: none;
          color: $text;
          color: lighten($text, 15%);
          &:hover {
            color: $text;
          }
        }
      }

      @include for-tablet-small {
        display: none;
      }
    }

    //for responsive nav
    &__mobile-button {
      display: none;

      & > * {
        width: 30px;
        height: 30px;
      }

      @include for-tablet-small {
        display: block;
      }
    }
  }

  &__mobile-menu {
    @include font-size-l;
    font-weight: 700;

    &--open {
      visibility: visible;
    }
    &--close {
      visibility: hidden;
    }
    &__item {
      display: block;
      width: 100%;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      line-height: 60px;
      background-color: $primary-dark;
      padding: 0 $spacing-01;
      box-sizing: border-box;
      border-bottom: 1px solid $dark;
    }
  }
}
