<template>
  <div class="section" :class="[bgColor ? `section--${bgColor}` : '']">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "Section",

  props: {
    bgColor: {
      default: undefined,
      type: String
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./Section.scss";
</style>
