.section {
  width: 100vw;
  box-sizing: border-box;
  background-color: $primary;
  color: $text;
  padding: $spacing-06 $spacing-16;

  @include for-small-screen {
    padding: $spacing-05 $spacing-07-50;
  }

  @include for-tablet {
    padding: $spacing-04 $spacing-04;
  }

  @include for-tablet-small {
    padding: $spacing-03 $spacing-02;
  }

  @include for-mobile {
    padding: $spacing-02 $spacing-01;
  }

  &--dark {
    background-color: $primary-dark;
    color: $white;
  }
  &--light {
    background-color: $light;
  }

  &--transparent {
    background-color: transparent;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("~@/assets/images/bgImage2.jpg");
    color: $white;
  }
}
