.footer {
  clear: both;
  background-color: $dark;
  display: flex;
  flex-direction: column;
  padding: $spacing-06 $spacing-16 $spacing-03 $spacing-16;
  flex-shrink: 0 !important;
  @include for-small-screen {
    padding: $spacing-05 $spacing-07-50 $spacing-03 $spacing-07-50;
  }

  @include for-tablet {
    padding: $spacing-04 $spacing-04 $spacing-02 $spacing-04;
  }

  @include for-tablet-small {
    padding: $spacing-03 $spacing-02 $spacing-02 $spacing-02;
  }

  @include for-mobile {
    padding: $spacing-02 $spacing-01 $spacing-01 $spacing-01;
  }

  &__links {
    @include center(800px);
    @include font-size-l;

    & a {
      color: lighten($primary, 15%);
      padding: 0 $spacing-02 0 0;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;

      &:hover {
        color: $white;
      }
    }
  }

  &__copyright {
    @include font-size-m;
    padding: $spacing-03 0 0 0;
    color: $white;
    text-align: center;
  }
}
