<template>
  <div class="footer">
    <div class="footer__links">
      <Grid :col-num="3">
        <router-link to="/menu-and-order">Menu &amp; Order</router-link>
        <router-link to="/reservation">Table Reservation</router-link>
        <router-link to="/your-order">Your order</router-link>
      </Grid>
    </div>
    <p class="footer__copyright">Copyright &copy; 2020 Restaurant</p>
  </div>
</template>

<script>
import Grid from "../Grid";
export default {
  name: "Footer",
  components: {
    Grid
  }
};
</script>

<style lang="scss" scoped>
@import "./Footer.scss";
</style>
