<template>
  <div class="form-container">
    <form
      class="form-container__form"
      name="reservation"
      method="post"
      data-netlify-recaptcha="true"
      data-netlify="true"
      data-netlify-honeypot="bot-field"
      @submit.prevent="handleSubmit"
    >
      <p v-if="errMsg" class="form-container__form__err">{{ errMsg }}</p>
      <p v-else-if="successMsg" class="form-container__form__success">
        {{ successMsg }}
      </p>
      <input type="hidden" name="reservation" value="reservation" />
      <label for="email">
        Email
        <input
          v-model="form.email"
          name="email"
          type="email"
          required
          @input="onInput"
        />
      </label>
      <label for="date">
        Date
        <input
          v-model="form.date"
          name="date"
          type="date"
          required
          @input="onInput"
        />
      </label>
      <label for="time">
        Time
        <input
          v-model="form.time"
          name="time"
          type="time"
          required
          @input="onInput"
        />
      </label>
      <label for="guestnumber">
        Number of guests
        <input
          v-model.number="form.guestnumber"
          name="guestnumber"
          type="number"
          required
          @input="onNumberInput"
        />
      </label>
      <label for="comment">
        Comments (optional)
        <textarea v-model="form.comment" name="comment" @input="onInput" />
      </label>
      <div data-netlify-recaptcha="true"></div>
      <Button type="submit" text="Reserve your table" />
    </form>
  </div>
</template>

<script>
import axios from "axios";
import Button from "../Button";
export default {
  name: "ReservationForm",
  components: {
    Button
  },
  data() {
    return {
      currentDate: new Date(),
      form: {
        email: "",
        date: "",
        time: "",
        guestNumber: 0,
        comment: ""
      },
      errMsg: null,
      successMsg: null
    };
  },
  methods: {
    onNumberInput(e) {
      this.form.guestNumber = e.target.value;
    },
    encode(data) {
      return Object.keys(data)
        .map(
          key => `${encodeURIComponent(key)}=${encodeURIComponent(data[key])}`
        )
        .join("&");
    },
    handleSubmit() {
      const axiosConfig = {
        header: { "Content-Type": "application/x-www-form-urlencoded" }
      };
      axios
        .post(
          "/reservation",
          this.encode({
            "form-name": "reservation",
            ...this.form
          }),
          axiosConfig
        )
        .then(() => {
          this.successMsg =
            "We have receive your reservation and will get to you soonest!";
          this.form = {};
        })
        .catch(() => {
          this.errMsg = "Something went wrong. Please try again";
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./ReservationForm.scss";
</style>
