.form-container {
  @include center(720px);
  padding: $spacing-02 0;

  &__form {
    color: $white;

    &__err {
      @include font-size-l;
      width: 100%;
      padding: 0 $spacing-00-75;
      box-sizing: border-box;
      line-height: 2;
      color: $white;
      background-color: $danger;
      font-weight: 700;
    }

    &__success {
      @include font-size-l;
      width: 100%;
      padding: 0 $spacing-00-75;
      box-sizing: border-box;
      line-height: 2;
      color: $dark;
      background-color: $primary;
      font-weight: 700;
    }

    & label {
      @include font-size-l;
      font-weight: 700;
      display: block;
      padding: $spacing-01 0;
    }

    & input[type="email"],
    input[type="date"],
    input[type="time"],
    [type="number"],
    textarea {
      width: 100%;
      border: none;
      border-bottom: 1px solid $white;
      background-color: transparent;
      outline: none;
      height: 40px;
      @include font-size-l;
      color: $white;
    }

    & textarea {
      min-height: 150px;
    }

    & button {
      float: right;
    }

    & div {
      padding: $spacing-00-75 0;
    }
  }
}
