<template>
  <div id="app">
    <NavBar :is-burger-open="isBurgerOpen" :open-menu="openMenu" :close-menu="closeMenu" />
    <router-view />
    <Footer />
  </div>
</template>

<script>
import NavBar from "./components/NavBar";
import Footer from "./components/Footer";

export default {
  name: "App",
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      isBurgerOpen: false
    };
  },
  watch: {
    $route() {
      this.isBurgerOpen = false;
      window.scrollTo(0, 0);
    }
  },
  methods: {
    openMenu() {
      this.isBurgerOpen = true;
    },
    closeMenu() {
      this.isBurgerOpen = false;
    }
  }
};
</script>

<style lang="scss">
@import "../src/assets/styles/_layout.scss";

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}
</style>
